/* Code tidied up by ScrapBook */
.about .about-des .text-bold { font-size: 18px; }
.footer-subscription a { color: rgb(255, 255, 255); }
@media (min-width: 992px) {
  .about .container { padding: 0px 80px; }
}
@media (max-width: 992px) {
}
