/* Code tidied up by ScrapBook */
body { min-width: 100% ! important; }
.header-phone a { color: inherit; }
.wrapp-humburger { height: 30px; width: 150px; padding-left: 10px; display: none; }
.humburger { float: left; width: 30px; height: 30px; position: relative; margin: 8px 10px 0px 4px; transform: rotate(0deg); transition: all 0.5s ease-in-out 0s; cursor: pointer; display: inline-block; }
.humburger span { display: block; position: absolute; height: 5px; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 9px; opacity: 1; left: 0px; transform: rotate(0deg); transition: all 0.25s ease-in-out 0s; }
.humburger span:nth-child(2) { top: 10px; }
.humburger span:nth-child(3) { top: 20px; }
@media screen and (max-width: 800px) {
  .wrapp-humburger { display: block; }
  .header .header-menu .header-menu-list { display: none; }
  .header .header-menu .header-menu-list li a { padding: 0px; }
  img { max-width: 100%; }
  h1 { font-size: 35px; }
  .header > .container > .row > .col-md-3, .header > .container > .row > .col-md-4, .header > .container > .row > .col-md-2, .product > .container > .row > .col-md-4, .services > .container > .row > .col-md-3, .special > .container > .row > .col-md-4, .footer-subscription > .container > .row > .col-md-6, .footer-main > .container > .row > .col-md-3 { width: 100%; }
  .row { margin: 0px ! important; }
  .logo { margin-left: 20px; }
  .header-phone, .header-mail { margin-left: 40px; }
  .header-adress { margin-left: 0px; }
  .header .header-adress { padding-left: 61px ! important; }
  .header .header-adress::before { left: 23px ! important; }
  .header .header-menu, .header .header-menu .header-menu-search { height: 43px; }
  .header .header-menu .header-menu-search { line-height: 46px; width: 145px; }
  .header .header-menu .header-menu-search span { float: right; margin-right: 45px; }
  .header .header-menu .header-menu-search::before { top: 14px ! important; }
  .header .header-menu .header-menu-search .form { width: 100%; padding-top: 3px; }
  .header .header-menu .header-menu-search .form input { width: 150px; height: 37px; padding-left: 15px; }
  .header .header-menu .header-menu-search .form button { width: 90px; height: 37px; }
  .header .header-menu .menu-caption { color: rgb(255, 255, 255); font-family: "BebasNeueBold",sans-serif; font-size: 22px; line-height: 46px; }
  .header .header-menu .header-menu-list { background-color: rgb(5, 48, 92); position: absolute; margin-top: 43px; width: 100%; }
  .header .header-menu .header-menu-list > li { display: table; line-height: 40px; height: 40px; }
  .footer-subscription { height: auto; }
  .footer-subscription span { text-align: center; }
  .footer-subscription .subs-email, .footer-subscription .subs-button { width: 100%; margin: 10px 0px; }
  .footer-item { margin-bottom: 20px; }
  .footer-copyright { height: auto; background-repeat: repeat-y; }
  .single-page > .about > .container > .about-wrapper > .row > .col-md-4, .single-page > .about > .container > .about-wrapper > .row > .col-md-8, .about > .container > .about-wrapper > .row > .col-md-3, .about > .container > .about-wrapper > .row > .col-md-9 { width: 100%; }
  .about .about-des { padding-left: 0px; }
}
@media screen and (min-width: 321px) and (max-width: 420px) {
}
@media screen and (min-width: 421px) and (max-width: 480px) {
  .product > .container > .row > .col-md-4, .services > .container > .row > .col-md-3, .header > .container > .row > .col-md-3, .header > .container > .row > .col-md-2, .header > .container > .row > .col-md-4 { width: 50%; }
  .header .header-phone p .big { display: block; }
}
@media screen and (min-width: 481px) and (max-width: 640px) {
  .product > .container > .row > .col-md-4, .services > .container > .row > .col-md-3, .header > .container > .row > .col-md-3, .header > .container > .row > .col-md-2, .header > .container > .row > .col-md-4, .special > .container > .row > .col-md-4, .footer-subscription > .container > .row > .col-md-6, .footer-subscription > .container > .row > .col-md-12, .footer-main > .container > .row > .col-md-3 { width: 50%; }
  .header .header-menu .header-menu-search .form input { width: 300px; }
  .header .header-phone p .big { display: block; }
  .footer-subscription > .container > .row > .col-md-12 > p { margin-top: -40px ! important; }
  .footer-main > .container > .row { display: flex; flex-wrap: wrap; }
}
@media screen and (min-width: 641px) and (max-width: 800px) {
  .services > .container > .row > .col-md-3, .header > .container > .row > .col-md-3, .header > .container > .row > .col-md-2, .header > .container > .row > .col-md-4, .special > .container > .row > .col-md-4, .footer-subscription > .container > .row > .col-md-6, .footer-subscription > .container > .row > .col-md-12, .footer-main > .container > .row > .col-md-3 { width: 50%; }
  .header .header-menu .header-menu-search .form input { width: 450px; }
  .header .header-phone p .big { display: block; }
  .footer-subscription > .container > .row > .col-md-12 > p { margin-top: -40px ! important; }
  .footer-main > .container > .row { display: flex; flex-wrap: wrap; }
}
