/* Code tidied up by ScrapBook */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
body, html {  }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
a { text-decoration: none; }
table { border-collapse: collapse; border-spacing: 0px; }
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
@font-face {
  font-family: "BebasNeueBold";
  font-style: normal;
  font-weight: normal;
  src: url("BebasNeueBold.eot") format("embedded-opentype"), url("BebasNeueBold.woff2") format("woff2"), url("BebasNeueBold.woff") format("woff"), url("BebasNeueBold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Extrabold";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Extrabold.eot") format("embedded-opentype"), url("OpenSans-Extrabold.woff2") format("woff2"), url("OpenSans-Extrabold.woff") format("woff"), url("OpenSans-Extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Italic";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Italic.eot") format("embedded-opentype"), url("OpenSans-Italic.woff2") format("woff2"), url("OpenSans-Italic.woff") format("woff"), url("OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans.eot") format("embedded-opentype"), url("OpenSans.woff2") format("woff2"), url("OpenSans.woff") format("woff"), url("OpenSans.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Semibold.eot") format("embedded-opentype"), url("OpenSans-Semibold.woff2") format("woff2"), url("OpenSans-Semibold.woff") format("woff"), url("OpenSans-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Bold.eot") format("embedded-opentype"), url("OpenSans-Bold.woff2") format("woff2"), url("OpenSans-Bold.woff") format("woff"), url("OpenSans-Bold.ttf") format("truetype");
}
body { font-family: "OpenSans",sans-serif; font-size: 18px; background: rgb(254, 254, 254) none repeat scroll 0% 0%; color: rgb(19, 33, 44); min-width: 1310px; }
* { outline: medium none ! important; }
h1 { font-size: 40px; line-height: 72px; font-family: "OpenSans-Bold",sans-serif; color: rgb(5, 48, 92); text-align: center; }
h2 { font-size: 24px; line-height: 28px; font-family: "OpenSans-Extrabold",sans-serif; color: rgb(251, 159, 40); text-align: center; }
h3 { font-size: 18px; line-height: 24px; color: rgb(0, 20, 40); font-family: "OpenSans-Bold",sans-serif; }
button { cursor: pointer; }
.col-md-1 { width: 8.33333%; }
.col-md-2 { width: 16.6667%; }
.col-md-3 { width: 25%; }
.col-md-4 { width: 33.3333%; }
.col-md-6 { width: 50%; }
.col-md-7 { width: 58.3333%; }
.col-md-12 { width: 100%; }
.row { margin-right: -15px; margin-left: -15px; }
.row::after { content: ""; display: table; clear: both; }
.container { width: 100%; max-width: 1280px; padding: 0px; margin: 0px auto; }
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 { float: left; position: relative; padding-right: 15px; padding-left: 15px; }
.breadcrumbs { margin: 28px 0px 19px; }
.breadcrumbs ul li { display: inline-block; position: relative; padding-right: 18px; margin-right: 6px; }
.breadcrumbs ul li.active a { border: medium none; letter-spacing: 0px; }
.breadcrumbs ul li.active::after { display: none; }
.breadcrumbs ul li::after { position: absolute; content: ""; background-image: url("sprite.png"); background-position: -147px -85px; width: 7px; height: 5px; right: 0px; top: 6px; }
.breadcrumbs ul li a { font-size: 12px; font-family: "OpenSans",sans-serif; color: rgb(19, 33, 44); text-decoration: none; border-bottom: 2px solid rgb(196, 199, 202); line-height: 10px; display: inline-block; letter-spacing: 0.4px; }
.btn { height: 48px; line-height: 48px; border-radius: 30px; background-color: rgb(251, 181, 63); color: rgb(255, 255, 255) ! important; text-transform: uppercase; font-size: 16px; font-family: "OpenSans-Bold",sans-serif; text-shadow: 1px 1px 1px rgba(45, 51, 58, 0.43); background-image: linear-gradient(to top, rgba(93, 93, 93, 0) 0%, rgba(0, 0, 0, 0.06) 14%, rgba(255, 255, 255, 0.16) 100%); display: block; text-align: center; text-decoration: none ! important; transition: all 0.3s ease 0s; }
.btn:hover { background-color: rgb(6, 51, 95); color: rgb(255, 255, 255); }
.btn:active { background-color: rgb(0, 31, 60); }
.header { padding: 18px 0px 0px; position: relative; z-index: 11; }
.header::before { content: ""; position: absolute; top: 0px; left: 0px; right: 0px; width: 100%; height: 7px; background-image: url("header-decoration.png"); background-position: center center; background-size: cover; background-repeat: repeat; }
.header .logo { display: inline-block; }
.header .header-phone, .header .header-mail, .header .header-adress { padding-top: 15px; position: relative; }
.header .header-phone::before, .header .header-mail::before, .header .header-adress::before { position: absolute; content: ""; left: -20px; }
.header .header-phone .header-name, .header .header-mail .header-name, .header .header-adress .header-name { font-size: 12px; font-family: "OpenSans",sans-serif; }
.header .header-phone p, .header .header-mail p, .header .header-adress p { font-size: 16px; font-family: "OpenSans-Bold",sans-serif; margin-top: 9px; }
.header .header-phone p .big, .header .header-mail p .big, .header .header-adress p .big { font-size: 24px; font-family: "OpenSans-Bold",sans-serif; vertical-align: text-top; }
.header .header-phone { padding-left: 20px; }
.header .header-phone::before { background-image: url("sprite.png"); background-position: 0px -101px; width: 24px; height: 24px; top: 27px; }
.header .header-phone p { margin-top: 3px; }
.header .header-mail { padding-left: 20px; }
.header .header-mail::before { background-image: url("sprite.png"); background-position: -29px -101px; width: 27px; height: 20px; top: 33px; }
.header .header-adress { padding-left: 72px; }
.header .header-adress::before { background-image: url("sprite.png"); background-position: -147px 0px; width: 21px; height: 27px; top: 27px; left: 39px; }
.header .header-menu { background-color: rgb(5, 48, 92); background-image: linear-gradient(to top, rgba(93, 93, 93, 0) 0%, rgba(0, 0, 0, 0.06) 14%, rgba(255, 255, 255, 0.16) 100%); border-radius: 10px 13px 13px 10px; margin-top: 13px; height: 80px; position: relative; }
.header .header-menu .header-menu-list { display: inline-block; padding-left: 25px; }
.header .header-menu .header-menu-list > li { display: inline-block; line-height: 80px; font-size: 0px; height: 80px; }
.header .header-menu .header-menu-list li a { text-transform: uppercase; color: rgb(255, 255, 255); font-size: 22px; font-family: "BebasNeueBold",sans-serif; padding: 0px 18px; text-shadow: 1px 0px 1px rgba(45, 51, 58, 0.43); text-decoration: none; transition: all 0.3s ease 0s; }
.header .header-menu .header-menu-list li a:hover { color: rgb(252, 176, 52); }
.header .header-menu .header-menu-list li a.active { color: rgb(252, 176, 52); }
.header .header-menu .header-menu-search { width: 108px; height: 80px; position: absolute; right: 0px; bottom: 0px; background-color: rgb(252, 176, 52); background-image: linear-gradient(to top, rgba(93, 93, 93, 0) 0%, rgba(0, 0, 0, 0.06) 14%, rgba(255, 255, 255, 0.16) 100%); line-height: 83px; border-radius: 0px 10px 10px 0px; cursor: pointer; transition: all 0.4s ease-in-out 0s; overflow: hidden; }
.header .header-menu .header-menu-search::before { position: absolute; content: ""; right: 19px; top: 33px; background-image: url("sprite.png"); background-position: -147px -64px; width: 16px; height: 16px; }
.header .header-menu .header-menu-search span { color: rgb(0, 0, 0); font-size: 22px; padding-left: 19px; font-family: "BebasNeueBold",sans-serif; text-shadow: 2px 0px 1px rgba(255, 255, 255, 0.43); }
.header .header-menu .header-menu-search .form { padding-top: 14px; transform: translateX(200%); transition: all 0.6s ease 0s; display: inline-block; width: 1240px; }
.header .header-menu .header-menu-search .form::after { content: ""; display: table; clear: both; }
.header .header-menu .header-menu-search .form input { width: 1034px; height: 48px; outline: medium none; background-color: transparent; border-radius: 30px; padding-left: 29px; color: rgb(195, 208, 229); border: 1px solid rgb(195, 208, 229); font-family: "OpenSans-Italic",sans-serif; }
.header .header-menu .header-menu-search .form input:-moz-placeholder { color: rgb(195, 208, 229); }
.header .header-menu .header-menu-search .form input:hover, .header .header-menu .header-menu-search .form input:focus { border: 1px solid rgb(252, 176, 52); }
.header .header-menu .header-menu-search .form button { border: medium none; width: 184px; line-height: 36px; float: right; cursor: pointer; }
.footer { background-color: rgb(255, 255, 255); }
.footer-subscription { height: 100px; background-image: url("subs-bg.png"); padding-top: 23px; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.footer-subscription span { font-family: "BebasNeueBold",sans-serif; font-size: 24px; color: rgb(255, 255, 255); text-align: right; display: block; padding-top: 19px; letter-spacing: 0.1px; }
.footer-subscription .subs-email { width: 334px; height: 48px; background-color: transparent; border: 1px solid rgb(195, 208, 229); border-radius: 30px; font-size: 14px; color: rgb(195, 208, 229); line-height: 22px; padding-left: 30px; margin-left: 9px; font-family: "OpenSans",sans-serif; }
.footer-subscription .subs-email:-moz-placeholder { color: rgb(195, 208, 229); }
.footer-subscription .subs-email:hover, .footer-subscription .subs-email:focus { border: 1px solid rgb(252, 176, 52); }
.footer-subscription .subs-button { width: 210px; outline: medium none; border: medium none; margin-left: 11px; position: relative; top: 2px; display: inline-block; }
.footer-main { background-image: url("footer-main-bg.png"); padding-top: 25px; padding-bottom: 52px; position: relative; z-index: 11; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.footer-main .footer-item .item-title { font-size: 16px; line-height: 22px; color: rgb(252, 176, 52); text-transform: uppercase; font-family: "OpenSans-Semibold",sans-serif; text-shadow: -1px -2px 0px rgb(9, 19, 26); padding-bottom: 15px; border-bottom: 1px solid rgb(56, 89, 109); position: relative; }
.footer-main .footer-item .item-title::after { position: absolute; content: ""; width: 100%; height: 1px; left: 1px; bottom: -2px; background-color: rgb(22, 36, 47); }
.footer-main .footer-item .item-des { padding-top: 15px; }
.footer-main .footer-item .item-des .footer-phone, .footer-main .footer-item .item-des .footer-mail, .footer-main .footer-item .item-des .footer-adress { padding-left: 42px; padding-top: 15px; position: relative; }
.footer-main .footer-item .item-des .footer-phone::before, .footer-main .footer-item .item-des .footer-mail::before, .footer-main .footer-item .item-des .footer-adress::before { position: absolute; content: ""; left: 0px; top: 29px; }
.footer-main .footer-item .item-des .footer-phone span, .footer-main .footer-item .item-des .footer-mail span, .footer-main .footer-item .item-des .footer-adress span { font-size: 12px; font-family: "OpenSans",sans-serif; color: rgb(195, 208, 229); text-shadow: -1px -1px 0px rgb(9, 19, 26); }
.footer-main .footer-item .item-des .footer-phone p, .footer-main .footer-item .item-des .footer-phone a, .footer-main .footer-item .item-des .footer-mail p, .footer-main .footer-item .item-des .footer-mail a, .footer-main .footer-item .item-des .footer-adress p, .footer-main .footer-item .item-des .footer-adress a { font-size: 16px; margin-top: 3px; font-family: "OpenSans-Bold",sans-serif; color: rgb(255, 255, 255); }
.footer-main .footer-item .item-des .footer-phone p .big, .footer-main .footer-item .item-des .footer-phone a .big, .footer-main .footer-item .item-des .footer-mail p .big, .footer-main .footer-item .item-des .footer-mail a .big, .footer-main .footer-item .item-des .footer-adress p .big, .footer-main .footer-item .item-des .footer-adress a .big { font-size: 24px; vertical-align: text-top; color: rgb(255, 255, 255); font-family: "OpenSans-Bold",sans-serif; }
.footer-main .footer-item .item-des .footer-mail::before { background-image: url("sprite.png"); background-position: -61px -101px; width: 27px; height: 20px; top: 32px; }
.footer-main .footer-item .item-des .footer-mail a { margin-top: 10px; display: block; }
.footer-main .footer-item .item-des .footer-phone::before { background-image: url("sprite.png"); background-position: -50px -54px; width: 24px; height: 24px; }
.footer-main .footer-item .item-des .footer-adress { padding-left: 34px; padding-top: 20px; }
.footer-main .footer-item .item-des .footer-adress::before { background-image: url("sprite.png"); background-position: -147px -32px; width: 21px; height: 27px; top: 31px; }
.footer-main .footer-item .item-des .footer-adress p { margin-top: 9px; line-height: 18px; }
.footer-main .footer-item .item-list { padding-top: 32px; }
.footer-main .footer-item .item-list li { display: block; padding-bottom: 16px; }
.footer-main .footer-item .item-list li a { font-size: 14px; color: rgb(255, 255, 255); font-family: "OpenSans-Semibold",sans-serif; text-decoration: none; }
.footer-copyright { height: 71px; line-height: 71px; color: rgb(0, 0, 0); font-size: 14px; text-align: center; background-image: url("footer-copyright-bg.png"); margin-top: -4px; text-shadow: 2px 1px 0px rgba(255, 255, 255, 0.4); background-position: center center; background-repeat: no-repeat; background-size: cover; font-family: "OpenSans",sans-serif; }
.about h1 { margin-bottom: 25px; }
.about .about-wrapper { margin-bottom: 44px; }
.about .about-img { width: 235px; height: 235px; border-radius: 50%; box-shadow: 0px 25px 20px 0px rgba(0, 0, 0, 0.17); display: block; overflow: hidden; margin-left: 25px; margin-top: 15px; }
.about .about-des { padding-left: 5px; padding-top: 35px; line-height: 22px; }
.about .about-des .text-bold, .about .about-des span { font-size: 18px; color: rgb(0, 0, 0); line-height: 28px; display: inline-block; letter-spacing: 0.1px; }
.about .about-des .text-bold { font-family: "OpenSans-Bold",sans-serif; }
.about .about-text { line-height: 28px; font-size: 18px; font-family: "OpenSans",sans-serif; color: rgb(0, 0, 0); letter-spacing: 0.1px; margin-bottom: 28px; }
.header-menu-list > li > ul, .header-menu-list > li > div { display: none; background: rgb(5, 48, 92) none repeat scroll 0% 0%; position: absolute; margin-top: -6px; padding: 20px; margin-left: -20px; z-index: 9999999; }
.header-menu-list > li > ul > li, .header-menu-list > li > div > ul > li { display: block; line-height: 30px; padding: 5px 0px; }
.header-menu-list > li > div > ul { float: left; max-width: 300px; }
.header-menu-list > li > div > ul > li > a { display: inline-block; }
.header .header-menu .header-menu-list li a.name { text-transform: uppercase; color: rgb(252, 176, 52); font-size: 22px; font-family: "BebasNeueBold",sans-serif; padding: 0px 18px; text-shadow: 1px 0px 1px rgba(45, 51, 58, 0.43); text-decoration: none; transition: all 0.3s ease 0s; }
.about > .container > div > div > div, .about > .container > div > div { line-height: 1.5; font-family: Verdana,geneva,"OpenSans",sans-serif; }
.about p, .news p, .about .about-text { text-indent: 30px; line-height: 1.5; text-align: justify; font-family: Verdana,geneva,"OpenSans",sans-serif; }
