/* Code tidied up by ScrapBook */
div#jivo-iframe-container { width: 0px ! important; height: 0px ! important; transition: none 0s ease 0s ; position: fixed ! important; overflow: hidden ! important; background: transparent none repeat scroll 0% 0% ! important; max-height: 100% ! important; min-height: 0px ! important; padding: 0px; margin: 0px; top: auto; bottom: 0px ! important; backface-visibility: hidden; }
iframe#jivo_container { z-index: 0 ! important; position: relative ! important; width: 0px ! important; height: 0px ! important; display: block ! important; background: transparent none repeat scroll 0% 0% ! important; top: 0px ! important; bottom: 0px ! important; opacity: 0; visibility: hidden; }
.globalClass_68ab a, .globalClass_68ab form, .globalClass_68ab iframe, .globalClass_68ab input, .globalClass_68ab svg, .globalClass_68ab textarea { animation: 0s ease 0s normal none 1 running none ! important; backface-visibility: visible ! important; background: transparent none repeat scroll 0% 0% ! important; border: 0px none ! important; box-shadow: none ! important; box-sizing: content-box ! important; bottom: auto ! important; caption-side: top ! important; clear: none ! important; clip: auto ! important; cursor: auto ! important; display: inline ! important; direction: ltr ! important; flex: 0 0 auto ! important; height: auto ! important; hyphens: manual ! important; image-rendering: auto ! important; justify-content: flex-start ! important; left: auto ! important; letter-spacing: normal ! important; line-height: normal ! important; margin: 0px ! important; max-height: none ! important; max-width: none ! important; min-height: 0px ! important; min-width: 0px ! important; object-fit: fill ! important; opacity: 1 ! important; order: 1 ! important; outline: 0px none ! important; overflow: visible ! important; padding: 0px ! important; perspective: none ! important; position: static ! important; resize: none ! important; right: auto ! important; text-align: left ! important; text-decoration: none ! important; text-indent: 0px ! important; text-overflow: clip ! important; text-shadow: none ! important; text-transform: none ! important; top: auto ! important; transform: none ! important; transition: all 0s ease 0s ! important; unicode-bidi: normal ! important; -moz-user-select: none ! important; vertical-align: baseline ! important; white-space: normal ! important; width: auto ! important; word-break: normal ! important; word-spacing: normal ! important; overflow-wrap: normal ! important; z-index: auto ! important; font-style: normal ! important; font-weight: 400 ! important; filter: none ! important; }
.globalClass_68ab a { -moz-text-size-adjust: inherit ! important; }
.globalClass_68ab *::after, .globalClass_68ab *::before { content: none; }
@supports (-ms-ime-align:auto) and (color:unset) {
  .globalClass_68ab {  }
}
jdiv { animation: 0s ease 0s normal none 1 running none; backface-visibility: visible; background: transparent none repeat scroll 0% 0%; border: 0px none; box-shadow: none; box-sizing: content-box; bottom: auto; caption-side: top; clear: none; clip: auto; cursor: auto; display: inline; direction: ltr; flex: 0 0 auto; height: auto; hyphens: manual; image-rendering: auto; justify-content: flex-start; left: auto; letter-spacing: normal; line-height: normal; margin: 0px; max-height: none; max-width: none; min-height: 0px; min-width: 0px; object-fit: fill; opacity: 1; order: 1; outline: 0px none; overflow: visible; padding: 0px; perspective: none; position: static; resize: none; right: auto; text-align: left; text-decoration: none; text-indent: 0px; text-overflow: clip; text-shadow: none; text-transform: none; top: auto; transform: none; transition: all 0s ease 0s; unicode-bidi: normal; -moz-user-select: none; vertical-align: baseline; white-space: normal; width: auto; word-break: normal; word-spacing: normal; overflow-wrap: normal; z-index: auto; filter: none ! important; font-weight: 400; -moz-text-size-adjust: inherit; -webkit-text-fill-color: currentcolor; }
jdiv::after, jdiv::before { box-sizing: inherit; }
.pseudoHeight_0b6f { position: fixed; top: 0px; bottom: 0px; width: auto; left: 0px; right: 0px; visibility: hidden; }
jdiv.jivoMouseTrack_6ba0 { position: fixed ! important; width: auto ! important; height: auto ! important; max-height: none ! important; z-index: 2147483647 ! important; left: -300px ! important; right: -300px ! important; top: -200px ! important; bottom: 0px ! important; display: none; background-color: transparent ! important; opacity: 0 ! important; -moz-user-select: none ! important; transform: none ! important; }
@keyframes showmessage_1d9a {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes showmessage_1d9a {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes wrapAnimation_a631 {
0%, 83.3% { transform: rotateY(0deg); }
86%, 98.1% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapAnimation_a631 {
0%, 83.3% { transform: rotateY(0deg); }
86%, 98.1% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes secondWrapCallAnimation_519b {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes secondWrapCallAnimation_519b {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes thirdWrapCallAnimation_d265 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 77.14% { transform: rotateY(180deg); }
80%, 100% { transform: rotateY(0deg); }
}
@keyframes thirdWrapCallAnimation_d265 {
0%, 17.14% { transform: rotateY(0deg); }
20%, 37.14% { transform: rotateY(180deg); }
40%, 57.14% { transform: rotateY(0deg); }
60%, 77.14% { transform: rotateY(180deg); }
80%, 100% { transform: rotateY(0deg); }
}
@keyframes firstWrapCallAnimation_6a62 {
0%, 77.14% { transform: rotateY(0deg); }
80%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes firstWrapCallAnimation_6a62 {
0%, 77.14% { transform: rotateY(0deg); }
80%, 97.14% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapCallNoLogoAnimation_1b32 {
0%, 42.86% { transform: rotateY(0deg); }
50%, 92.86% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
@keyframes wrapCallNoLogoAnimation_1b32 {
0%, 42.86% { transform: rotateY(0deg); }
50%, 92.86% { transform: rotateY(180deg); }
100% { transform: rotateY(0deg); }
}
.player_0ab4 { position: absolute; display: block; width: 0px; height: 0px; opacity: 0; overflow: hidden; }
@keyframes WidgetContainer_OPEN_WIDGET_d7e6 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
}
@keyframes WidgetContainer_OPEN_WIDGET_d7e6 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
}
@keyframes WidgetContainer_CLOSE_WIDGET_6dba {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth,336px); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_6dba {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(0px); width: 336px; opacity: 1; right: var(--right,--labelright); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth,336px); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_a940 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_a940 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_adf7 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_adf7 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_7173 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_7173 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_659d {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_659d {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_3524 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_3524 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_3a5a {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_3a5a {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_e220 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
}
@keyframes WidgetContainer_OPEN_WIDGET_e220 {
0% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 0; }
10% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; }
100% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
}
@keyframes WidgetContainer_CLOSE_WIDGET_6f5d {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_6f5d {
0% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; right: var(--labelright,auto); transform: translateY(0px); width: 336px; opacity: 1; left: var(--left,--labelleft); }
90% { display: block; height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(calc(100% - 40px)); opacity: 1; right: var(--labelright,auto); width: var(--labelwidth); }
100% { display: block; width: var(--labelwidth); height: var(--height,496px); position: fixed; z-index: 2147483646; bottom: 0px; left: var(--labelleft,auto); transform: translateY(100%); right: var(--labelright,auto); opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_4342 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_4342 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_29f1 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_29f1 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_f7d1 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_f7d1 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_f22d {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_f22d {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_7804 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_7804 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_78f9 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_78f9 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_8dc0 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_8dc0 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_f067 {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_f067 {
0% { opacity: 0; }
50% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_MINIMIZE_WIDGET_d5e2 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_d5e2 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_f4e0 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_f4e0 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_3c7c {
0% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_3c7c {
0% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); bottom: var(--bottom,auto); left: var(--labelleft,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_1bb5 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_1bb5 {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(-100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(-120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--right,auto); left: var(--labelleft,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_7b9c {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_7b9c {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_ad7f {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_ad7f {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_fae0 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_fae0 {
0% { opacity: 1; }
10% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_84ba {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_84ba {
0% { opacity: 0; }
60% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes Label_MINIMIZE_WIDGET_79e3 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MINIMIZE_WIDGET_79e3 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_d5e6 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_MAXIMIZE_WIDGET_d5e6 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes WidgetContainer_OPEN_WIDGET_d96c {
0% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_d96c {
0% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 0; }
10% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); bottom: var(--bottom,auto); left: var(--left,auto); z-index: 2147483646; opacity: 1; }
100% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); bottom: 0px; left: var(--left,auto); z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_226a {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,-100%); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_226a {
0% { transform: translateX(0px) translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateX(100%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,auto); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
100% { transform: translateX(120%) translateY(0px); width: var(--labelwidth,336px); height: var(--labelwidth,496px); position: fixed; right: var(--labelright,-100%); left: var(--left,auto); bottom: var(--bottom,auto); z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_710a {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_710a {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_dbaa {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_dbaa {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,auto); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_f0f9 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_f0f9 {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_f56f {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_f56f {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 1; }
90% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_8717 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_8717 {
0% { transform: translateY(calc(100% - 70px)); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_0d0a {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(100%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_0d0a {
0% { transform: translateY(0px); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(100%); width: 336px; height: var(--height,496px); position: fixed; right: var(--right,30px); left: var(--left,auto); bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_OPEN_WIDGET_4e38 {
0% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
100% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_OPEN_WIDGET_4e38 {
0% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
100% { display: block; transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 1; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_50a3 {
0% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_CLOSE_WIDGET_50a3 {
0% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
100% { transform: translateY(120%); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; opacity: 0; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_b5b2 {
0% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MAXIMIZE_WIDGET_b5b2 {
0% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(0px); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_90ec {
0% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes WidgetContainer_MINIMIZE_WIDGET_90ec {
0% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
100% { transform: translateY(calc(100% - 70px)); width: 336px; position: fixed; bottom: 0px; z-index: 2147483646; }
}
@keyframes Label_OPEN_WIDGET_9fd4 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_OPEN_WIDGET_9fd4 {
0% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes Label_CLOSE_WIDGET_e5f7 {
0% { opacity: 1; }
100% { opacity: 1; }
}
@keyframes Label_CLOSE_WIDGET_e5f7 {
0% { opacity: 1; }
100% { opacity: 1; }
}
.contentWrapper_65c4 { display: block; height: 100%; width: 100%; }
.copyright_33c8 { position: absolute; display: block; cursor: pointer; background-color: rgb(65, 66, 67); height: 40px; line-height: 40px ! important; padding: 0px 16px ! important; border-radius: 4px ! important; box-shadow: 0px 0px 12px 3px rgba(0, 0, 0, 0.17); }
.copyright_33c8._bottom_847d { bottom: 50px; right: 45px; }
.copyright_33c8._bottom_847d.__ru_9f12 { right: 37px; }
.copyright_33c8._bottom_847d *::after { content: "" ! important; display: block; left: 0px; right: 0px; bottom: -10px; height: 10px; background: transparent none repeat scroll 0% 0%; }
.logoIcon_2452 { display: inline-block; width: 51px; height: 18px; background-repeat: no-repeat; background-size: contain; }
jdiv a.link_1253 { font-family: Arial,sans-serif ! important; font-weight: 400 ! important; font-size: 13px ! important; display: inline-block ! important; width: auto ! important; height: 18px ! important; margin: 11px 0px 4px 2px ! important; transition: none 0s ease 0s  ! important; vertical-align: top ! important; box-sizing: border-box ! important; color: currentcolor; white-space: nowrap ! important; cursor: pointer ! important; line-height: 18px ! important; }
jdiv a.link_1253.__ru_9f12 { margin: 10px 0px 4px ! important; }
jdiv a.link_1253.__ru_9f12 .logoIcon_2452 { width: 27px ! important; margin-top: -1px; }
jdiv a.link_1253:hover, jdiv a.link_1253:visited { color: currentcolor; }
jdiv a.link_1253 .logoIcon_2452 { vertical-align: top ! important; box-sizing: border-box ! important; margin-left: 2px; }
jdiv a.link_1253 .logoIcon_2452:hover { cursor: pointer ! important; }
.text_6da7 { font-family: Arial,sans-serif; font-weight: 400; font-size: 13px ! important; white-space: nowrap; transform: translateZ(0px) ! important; line-height: 40px ! important; color: rgb(255, 255, 255); display: inline-block ! important; vertical-align: middle ! important; cursor: default ! important; }
.corner_2d17 { position: absolute; width: 0px; height: 0px; }
._bottom_847d .corner_2d17 { bottom: -4px; right: 10px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(65, 66, 67); }
@keyframes showPopup_49b2 {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes showPopup_49b2 {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes hidePopup_71fe {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes hidePopup_71fe {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes showPopup_a3da {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes showPopup_a3da {
0% { transform: translateY(30px); opacity: 0; }
100% { transform: translateY(0px); opacity: 1; }
}
@keyframes hidePopup_5fb9 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes hidePopup_5fb9 {
0% { transform: translateY(0px); opacity: 1; visibility: visible; }
100% { transform: translateY(30px); opacity: 0; }
}
@keyframes ochange_fca0 {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes ochange_fca0 {
0% { opacity: 0; }
50% { opacity: 1; }
100% { opacity: 0; }
}
.leaf_8765 { position: absolute; width: 32px; height: 33px; z-index: 6; overflow: hidden; }
.leaf_8765._bottom_0bcc, .leaf_8765._left_8238, .leaf_8765._right_05d5 { right: 0px; top: 0px; width: 33px; border-radius: 0px 24px 0px 0px ! important; }
.leaf_8765._bottom_0bcc .cssLeaf_9782, .leaf_8765._left_8238 .cssLeaf_9782, .leaf_8765._right_05d5 .cssLeaf_9782 { width: 32px ! important; height: 34px ! important; position: absolute; overflow: visible; right: 0px; top: 0px; }
@keyframes fadeOut_9add {
0% { opacity: 1; display: block; height: 40px; }
99% { opacity: 0; height: 40px; }
}
@keyframes fadeOut_9add {
0% { opacity: 1; display: block; height: 40px; }
99% { opacity: 0; height: 40px; }
}
.wrap_3c7f { position: absolute ! important; top: 0px ! important; bottom: auto ! important; left: 0px ! important; right: 0px ! important; display: none; overflow: visible; max-height: none ! important; -moz-user-select: none ! important; direction: ltr ! important; height: 70px; }
.closeButton_f5c3 { display: block; margin-top: 0px ! important; margin-left: -34px ! important; width: 23px ! important; height: 23px ! important; cursor: pointer ! important; overflow: visible ! important; opacity: 1; transition: opacity 0.3s cubic-bezier(0.39, 0.24, 0.21, 0.99) 0s ! important; }
.closeIcon_4251 { display: block; width: 28px; height: 28px; background-repeat: no-repeat; cursor: pointer; opacity: 0.85; }
.closeIcon_4251:hover { opacity: 1; }
.label_d90f { position: fixed; z-index: 2147483647; backface-visibility: hidden; height: 40px; box-shadow: 0px 12px 14px 8px rgba(0, 0, 0, 0.17); filter: blur(0px); }
.label_d90f:hover { cursor: pointer; }
.label_d90f .leafCont_3bc4 { position: absolute; }
.label_d90f._bottom_9d97 { border-top-left-radius: 8px ! important; border-top-right-radius: 34px ! important; min-width: 300px; }
.label_d90f._bottom_9d97 .leafCont_3bc4, .label_d90f._left_14b7 .leafCont_3bc4, .label_d90f._right_804f .leafCont_3bc4 { right: 0px; }
.label_d90f._bottom_9d97 .lbContainer_f99b, .label_d90f._left_14b7 .lbContainer_f99b, .label_d90f._right_804f .lbContainer_f99b { left: 0px; right: 0px; max-width: 300px; }
.label_d90f._bottom_9d97 .copyContainer_ebdd, .label_d90f._left_14b7 .copyContainer_ebdd, .label_d90f._right_804f .copyContainer_ebdd { right: 0px; bottom: 0px; }
.label_d90f._bottom_9d97 .text_572d, .label_d90f._left_14b7 .text_572d, .label_d90f._right_804f .text_572d { transform: translateZ(0px); margin: 0px 37px 0px 16px; min-width: 160px; visibility: visible; }
.label_d90f._bottom_9d97 .text_572d:hover, .label_d90f._left_14b7 .text_572d:hover, .label_d90f._right_804f .text_572d:hover { cursor: pointer; }
.label_d90f .text_572d { font-family: inherit; font-style: inherit; font-weight: inherit; font-size: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; text-indent: 0px; line-height: 40px; vertical-align: top; white-space: nowrap; visibility: visible; backface-visibility: hidden; }
.label_d90f .text_572d:hover { cursor: pointer; }
.label_d90f .text_572d._offline_fa2d { margin-left: 8px; }
.label_d90f .hoverl_cce6 { z-index: 4; position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; }
.label_d90f .hoverl_cce6:hover { cursor: pointer; }
.copy_37a8 { position: relative; padding-top: 10px; padding-right: 36px; padding-left: 7px; display: inline-block; height: 18px ! important; float: right; }
.labelStatus_bb29 { cursor: pointer; width: 36px; height: 40px; background-repeat: no-repeat; background-position: 100% 50%; float: left; }
.copy_37a8:hover ~ .copyContainer_ebdd { display: block; }
.copyContainer_ebdd { position: absolute; display: none; }
.copyContainer_ebdd:hover { display: block; }
.hoverl_cce6:hover .lbContainer_f99b { display: block; }
.lbContainer_f99b { position: absolute; display: none; }
.contentTransitionWrap_da5d { animation-name: fadeIn_2f37; animation-duration: 0.15s; animation-fill-mode: backwards; animation-timing-function: ease; }
@keyframes fadeIn_2f37 {
0% { opacity: 0.4; }
100% { opacity: 1; }
}
@keyframes fadeIn_2f37 {
0% { opacity: 0.4; }
100% { opacity: 1; }
}
.logo_00c5 { position: relative; display: block; }
.logo_00c5 .fallback_d2fe, .logo_00c5._no-copyright_ffda { display: none; visibility: hidden; }
.logo_00c5._bottom_c18a .hoverBox_d669 { left: -10px; right: -10px; top: -20px; bottom: -5px; height: 48px; max-height: 38px ! important; background-color: transparent; }
.hoverBox_d669 { position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; background: transparent none repeat scroll 0% 0%; opacity: 0; z-index: 5; cursor: pointer; }
.logoIcon_935e { display: block; width: 51px; height: 18px; background-repeat: no-repeat; background-position: 50% center; background-size: contain; }
.logoIcon_935e.__ru_a804 { width: 27px; }
@keyframes animationBtn_8684 {
0% { transform: scale(0); opacity: 0; }
73% { transform: scale(0); opacity: 1; }
80% { transform: scale(2.6); opacity: 0; }
81% { transform: scale(0); opacity: 0; }
83% { transform: scale(0); opacity: 1; }
90% { transform: scale(2.6); opacity: 0; }
91% { transition-duration: 0.01s; transform: scale(0); opacity: 0; }
93% { transform: scale(0); opacity: 1; }
100% { transform: scale(2.6); opacity: 0; }
}
@keyframes animationBtn_8684 {
0% { transform: scale(0); opacity: 0; }
73% { transform: scale(0); opacity: 1; }
80% { transform: scale(2.6); opacity: 0; }
81% { transform: scale(0); opacity: 0; }
83% { transform: scale(0); opacity: 1; }
90% { transform: scale(2.6); opacity: 0; }
91% { transition-duration: 0.01s; transform: scale(0); opacity: 0; }
93% { transform: scale(0); opacity: 1; }
100% { transform: scale(2.6); opacity: 0; }
}
